<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Vonji</title>

    <link rel="stylesheet" href="/static/css/header.css" type="text/css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">


    <!-- Bootstrap require jquery <3.0 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

</head>
<body class="container-fluid">

<div class="row" id="topbar">
    <div class="col-md-6"><h2>Vonji factory</h2></div>
    <div class="col-md-6"><span class="glyphicon glyphicon-inbox"></span><div>Username (418 vCoins) disconnect</div></div>
    <div class="col-md-6">
        <div v-if="logged">
            <span class="glyphicon glyphicon-inbox"></span><div>{{userName}} (418 vCoins) <a id="disconnect-link" v-on:click="logout()">disconnect</a></div>
        </div>
        <div v-else>
            <input v-model="userName" type="text" name="userName" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <button v-on:click="login()" v-on:keyup.enter="login()">login</button>
        </div>
    </div>
</div>

<hr/>
