<style>
    #topbar {
        margin-bottom: 70px;
    }
</style>

<div class="row" id="form">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form id="user-registration-form">
            <!--<input name="email" type="email" v-model="email" placeholder="email">
            <input name="password" type="password" placeholder="password">
            --><input name="FirstName" type="text" placeholder="prenom">
            <input name="LastName" type="text" placeholder="nom">
            <input name="Description" type="text" placeholder="description">
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="col-md-3">{{email}}</div>
</div>

<script src="/static/js/lib/jquery.serializejson.min.js"></script>

<script type="text/javascript">
    $(function () {
        Vue.config.debug = true;

        new Vue({
            el: '#form'
        });

        $('#user-registration-form').submit(function(e) {
            e.preventDefault();
            var data = JSON.stringify($('#user-registration-form').serializeJSON());
            console.log(data);
            $.ajax({
                url: 'http://localhost:1618/users',
                contentType: 'application/json; charset=utf-8',
                method: 'POST',
                dataType: 'json',
                data: data,//
                success: function () {
                    console.log("success");
                },
                error: function (jqXHR, status, error) {
                    console.error(error);
                }
            });
        });
    });
</script>