<div class="row" id="form">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form id="user-registration-form">
            <!--<input name="email" type="email" v-model="email" placeholder="email">
            <input name="password" type="password" placeholder="password">
            --><input name="FirstName" type="text" placeholder="prenom">
            <input name="LastName" type="text" placeholder="nom">
            <input name="Description" type="text" placeholder="description">
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>

<script src="/static/js/lib/jquery.serializejson.min.js"></script>

<script type="text/javascript">
    $(function () {
        new Vue({
            el: '#form'
        });

        $('#user-registration-form').submit(function(e) {
            e.preventDefault();
            var data = JSON.stringify($('#user-registration-form').serializeJSON());
            vonji.post({
                url: 'http://localhost:1618/users',
                data: data
            });
        });
    });
</script>